# Experiment 5
### Name- Shreya
### PRN- 25070123159
### Batch- A3
### Title- To Study Sets and Dictionaries in Python

# **SETS**

In [ ]:
# creation of set
thisset={"math","science","english"}
print(thisset)

{'science', 'english', 'math'}

In [ ]:
# set doesn't allow duplicate values
thisset={"math","science","english","math"}
print(thisset)

{'science', 'english', 'math'}

In [ ]:
# The values true and 1 are considered equivalent, meaning they are treated as duplicates.
thisset={"math","science","english",True,1}
print(thisset)

{'science', True, 'english', 'math'}

In [ ]:
# A set with strings, integers and boolean values
set={"abc",20,True,40,"male"}
print(set)

{True, 'male', 20, 40, 'abc'}

In [ ]:
# to check membership
thisset={"math","science","english"}
print("math" in thisset)
print("hindi" in thisset)

True
False

In [ ]:
# once a set is created, you can not replace its items, but you can add new items.
set1={"mouse","monitor","keyboard"}
set1.add("mousepad")
print(set1)

{'mouse', 'mousepad', 'monitor', 'keyboard'}

In [ ]:
# remove items
set1={"monitor","mouse","keyboard"}
set1.remove("monitor")
print(set1)

{'mouse', 'keyboard'}

In [ ]:
# set operations
A={1,2,3,4,5}
B={4,5,6,7,8}
print("union: ",A|B)
print("intersection: ",A&B)
print("difference: ",A-B)
print("symmetric difference: ",A^B)

union:  {1, 2, 3, 4, 5, 6, 7, 8}
intersection:  {4, 5}
difference:  {1, 2, 3}
symmetric difference:  {1, 2, 3, 6, 7, 8}

In [ ]:
# Python Frozenset
x= frozenset({"mango","banana","cherry"})
print(x)
print(type(x))

frozenset({'mango', 'banana', 'cherry'})
<class 'frozenset'>

In [44]:
# frozenset does not allow addition or removal of items
x= frozenset({"mango","banana","cherry"})
print(x.add("mango"))

AttributeError: 'frozenset' object has no attribute 'add'

In [45]:
'''Problem 1: Students'''
students=["shreya","leon","rudra","riddi","shreya","leon"]
actual_students=set(students)
print(actual_students)

{'leon', 'shreya', 'rudra', 'riddi'}

In [ ]:
'''Problem 2: Elective Subjects'''
student1={"ip","math","hindi","english"}
student2={"bio","ip","statistics","gk"}
student3={"history","ip","eco","finearts"}
print("common electives: ", student1 & student2 & student3)

common electives:  {'ip'}

In [ ]:
'''Problem 3'''
ieee_club={"shreya","riddhi","leon","rudra","yashas","shreya","rudra"}
edc_club={"leon","shreya","rudra","sid","adi","lavanya"}
print("students in both the clubs: ", ieee_club & edc_club)
print("students in only one club: ", ieee_club | edc_club)

students in both the clubs:  {'rudra', 'shreya', 'leon'}
students in only one club:  {'leon', 'lavanya', 'adi', 'shreya', 'sid', 'riddhi', 'rudra', 'yashas'}

In [ ]:
'''Problem 4'''
students={"sam","tina","kate","robin","sham","ria"}
present_students={"tina","kate","robin","ria"}
print("absent students: ",students-present_students)

absent students:  {'sham', 'sam'}

In [ ]:
'''Problem 5: Remove Invalid Entries'''
courses={"dcld","pes","cla","amt","ecsf","ct"}
courses.remove("cla")
courses.discard("ct")
print(courses)

{'amt', 'pes', 'dcld', 'ecsf'}

# **PYTHON DICTIONARY**

In [ ]:
# creating a dictionary
dict={"brand":"ford","model":"mustang","year":"1964"}
print(dict)

{'brand': 'ford', 'model': 'mustang', 'year': '1964'}

In [ ]:
# dictionary does not allow duplicates, it replaces with the latest value assigned
dict={"brand":"ford","model":"mustang","year":1964,"year":2020}
print(dict)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}
length of the dictionary:  3

In [ ]:
# length of the dictionary
dict={"brand":"ford","model":"mustang","year":"1964"}
print("length of the dictionary: ",len(dict))
print(type(dict))

length of the dictionary:  3
<class 'dict'>

In [ ]:
# changing values in a dictionary
car= {"brand":"ford","model":"mustang","year":"1964"}
x=car.values()
car["color"]="red"
print(x)

dict_values(['ford', 'mustang', '1964', 'red'])

In [ ]:
student={"prn":25070123159,"name":"shreya","branch":"entc A"}
print("Name: ", student["name"])
print("PRN: ", student["prn"])

Name:  shreya
PRN:  25070123159

In [2]:
# adding and updating elements
student={"prn":25070123159,"name":"shreya","branch":"entc A"}
student["year"]="first"
student["name"]="sheryl"
print(student)
# removing elements
student.pop("year")
print(student)

{'prn': 25070123159, 'name': 'sheryl', 'branch': 'entc A', 'year': 'first'}
{'prn': 25070123159, 'name': 'sheryl', 'branch': 'entc A'}

In [11]:
'''1. Product list'''
products={"chocolates":200,"bananas":150,"pens":50,"cake":300}
print("initial list: ", products)
x=products.values()
products["pens"]=60
print("after updating: ",products)

initial list:  {'chocolates': 200, 'bananas': 150, 'pens': 50, 'cake': 300}
after updating:  {'chocolates': 200, 'bananas': 150, 'pens': 60, 'cake': 300}

In [36]:
'''2. Student Details'''
marks={"karan":80,"sham":70,"aditi":80,"ira":75}
name = input("enter name: ")
print(marks.get(name,"student not found"))

enter name: aditi
80

In [50]:
'''3. Usernames And Passwords'''
user={"ss123":'1234',"shay12":"Shay2123","riti21":"Riti@123"}
x= input("enter username: ")
y= input("enter password:")
if x in user and user[x]==y:
  print("logged in")
else:
    print("invalid username or password")

enter username: ss123
enter password:1234
logged in

In [53]:
'''4. Student Records'''
marks={"ram":'90',"sham":'78',"karan":'90',"riya":'90',"harry":'80',"shreya":'88'}
topper=max(marks,key=marks.get)
print("topper: ",topper)
print("marks: ",marks[topper])

topper:  ram
marks:  90