# Experiment 7
### Name- Shreya
### PRN- 25070123159
### Batch- A3
### Title- Loops in Python

##Types of Loops in Python
####while loop
####for loop
####nested loop

## While loop
### Used when the number of iterations is not known.
Syntax
while consition:
  statement(s)

In [ ]:
# print i as long as i is less than 6
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
# print numbers from 1 to n
n=int(input("enter the number of iterations: "))
i=1
while i<=n:
  print(i, end=" ")
  i=i+1

enter the number of iterations: 8
1 2 3 4 5 6 7 8

In [ ]:
# factorial of a number
n=int(input("enter the number: "))
fact=1
while n>0:
  fact=fact*n
  n=n-1
print("factorial is: ",fact)

enter the number: 8
factorial is:  40320

In [ ]:
# fibonacci series using while loop
n=int(input("enter the number of iterations: "))
a=0
b=1
count=1
while (count<n):
  print(a,end=" ")
  c=a+b
  a=b
  b=c
  count=count+1

enter the number of iterations: 9
0 1 1 2 3 5 8 13

In [ ]:
limit=int(input("enter limit: "))
a=0
b=1
while a<=limit:
  print(a,end=" ")
  a,b=b,a+b

In [ ]:
# reverse a number
num=int(input("enter the number: "))
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num//=10
  print("reversed number: ",rev)

enter the number: 123
reversed number:  3
reversed number:  32
reversed number:  321

In [ ]:
# check palindrome number and string
str=input("enter a string: ")
rev= str[::-1]
if str==rev:
  print("palindrome")
else:
  print("not a palindrome")

enter a string: madam
palindrome

In [ ]:
# count digits in a number
num=int(input("enter a number: "))
count=0
while (num>0):
  num//=10
  count=count+1
print("number of digits: ",count)

enter a number: 67897
number of digits:  5

##Break Statement
###With break statement we can stop the loop even when the condition is true.

In [ ]:
# exit the loop when i is 3
i=0
while i<6:
  print(i)
  if i==3:
    break
  i=i+1

0
1
2
3

In [ ]:
# search an element in a list
list=['25090','56789','57892','67892','67839','37354','32111','92826','92826','29273']
i=0
prn=input("enter prn: ")
while i<len(list):
  if list[i]==prn:
    print("element found at index",i+1)
    break
  i=i+1
else:
  print("element not found")

enter prn: 32111
element found at index 7

### Continue Statement

In [ ]:
# print numbers from 1 to 10 (skip 5)
i=1
while i<=10:
  if i==5:
    i=i+1
    continue
  print(i)
  i=i+1

1
2
3
4
6
7
8
9
10

In [ ]:
# print only odd numbers (1 to 10)
i=1
while i<=10:
  if i%2==0:
    i=i+1
    continue
  print(i)
  i=i+1

1
3
5
7
9

### For Loop

In [ ]:
# range function to print 1 to 6
for i in range(1,7):
  print(i,end=' ')

1 2 3 4 5 6

In [ ]:
# print even numbers from 1 to 10
for i in range (2,11,2):
  print (i, end=' ')

2 4 6 8 10

In [ ]:
n=int(input("enter a number: "))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("sum= ",sum)

enter a number: 6
sum=  21

In [ ]:
# nested for loop
for i in range (1,4):
  for j in range (1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3x3 Matrix Display
B=[[1,2,3],[4,5,6],[7,8,9]]
for i in range (3):
    for j in range (3):
      print(B[i][j],end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Product of Matrix
A=[[1,2,3],[1,2,3],[1,1,1]]
B=[[1,1,1],[1,2,3],[1,1,3]]
Result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range (3):
    for k in range (3):
      Result[i][j] += A[i][k]*B[k][j]

print("product of matrices: ")
for row in Result:
  print(row)

product of matrices:
[6, 8, 16]
[6, 8, 16]
[3, 4, 7]

In [ ]:
# Product of Matrix taking input from the user
print("Enter elements for Matrix A:")
for i in range(3):
    for j in range(3):
        A[i][j] = int(input(f"Enter A[{i}][{j}]: ")) # f means formatted string. It allows you to put variables directly inside a string using { }

print("Enter elements for Matrix B:")
for i in range(3):
    for j in range(3):
        B[i][j] = int(input(f"Enter B[{i}][{j}]: "))
Result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
  for j in range (3):
    for k in range (3):
      Result[i][j] += A[i][k]*B[k][j]

print("product of matrices: ")
for row in Result:
  print(row)

Enter elements for Matrix A:
Enter A[0][0]: 1
Enter A[0][1]: 2
Enter A[0][2]: 3
Enter A[1][0]: 4
Enter A[1][1]: 5
Enter A[1][2]: 6
Enter A[2][0]: 7
Enter A[2][1]: 8
Enter A[2][2]: 9
Enter elements for Matrix B:
Enter B[0][0]: 1
Enter B[0][1]: 2
Enter B[0][2]: 3
Enter B[1][0]: 4
Enter B[1][1]: 5
Enter B[1][2]: 6
Enter B[2][0]: 7
Enter B[2][1]: 8
Enter B[2][2]: 9
product of matrices:
[30, 36, 42]
[66, 81, 96]
[102, 126, 150]

In [ ]:
# Python program to accept three digits and print all possible combinations
d1=int(input("enter first digit: "))
d2=int(input("enter second digit: "))
d3=int(input("enter third digit: "))
d=[d1,d2,d3]
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j] and d[i]!=d[k] and d[j]!=d[k]):
        print(d[i],d[j],d[k])

enter first digit: 1
enter second digit: 2
enter third digit: 3
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
# Armstrong Number (153,370,371,407,123,1634)
num=370
total=0
for digit in str(num):
  total =+ int(digit) ** len(str(num))
if total==num:
  print("armstrong number")
else:
  print("not armstrong number")

not armstrong number

In [1]:
num = int(input("Enter a number: "))

for i in range(2, num):
    if num % i == 0:
        print("Number is not prime")
        break
else:
    print("Number is prime")

Enter a number: 2
Number is prime

In [ ]:
# Print all prime numbers in range
for num in range (2,50):
  for i in range(2,num):
    if num % i==0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# Inverted Pyramid
n=5
for i in range(n):
  print(i*' ',(n-i)*' s')

  s s s s s
   s s s s
    s s s
     s s
      s

In [2]:
# Right angled Triangle
n = 5

for i in range(1, n + 1):
    print(i * "*")

*
**
***
****
*****

In [3]:
# Floyd's Triangle
num=1
for i in range(1,5):
  for j in range(i):
    print(num,end=' ')
    num=num+1
  print()

1
2 3
4 5 6
7 8 9 10