# Experiment 3
### Name- Shreya
### PRN- 25070123159
### Batch- A3
### Title- Study of lists and various operations on it

In [ ]:
# python lists
list1 = ["physics","chemistry","math"]
print (list1)

['physics', 'chemistry', 'math']

In [ ]:
# list length
list1=["physics","chemistry","math"]
print (len(list1))

3

In [ ]:
# a list with strings,integers and boolean values
list = ["abc",34,True,40,"male",40.5,3+2j]
list

['abc', 34, True, 40, 'male', 40.5, (3+2j)]

In [ ]:
# access items
list1=["physics","chemistry","math"]
print (list1[1])

chemistry

In [ ]:
# reverse/negative indexing
list=["physics","chemistry","math"]
print(list[-2])

chemistry

In [ ]:
# slicing
list2= ["apple","mango","banana","cherry","guava","watermelon"]
print(list2[2:6:2])
print(list2[:4])
print(list2[-3:-1])
print(list2[-3:])

['banana', 'guava']
['apple', 'mango', 'banana', 'cherry']
['cherry', 'guava']
['cherry', 'guava', 'watermelon']

In [ ]:
# change item value
list3=["apple","mango","banana"]
list3[2]="cherry"
print(list3)

['apple', 'mango', 'cherry']

In [ ]:
# append items
list3=["apple","mango","banana"]
list3.append ("cherry")
print(list3)

['apple', 'mango', 'banana', 'cherry']

In [ ]:
# insert items
list2=["apple","mango","banana"]
list2.insert(1,"cherry")
print(list2)

['apple', 'cherry', 'mango', 'banana']

In [ ]:
list1=["apple","mango","banana"]
list2=["cherry","guava"]
list1.extend(list2)
print(list1)

['apple', 'mango', 'banana', 'cherry', 'guava']

In [ ]:
# searching items
9 in[3,4,5]

False

In [ ]:
3 in [1,2,3]

True

In [ ]:
# repetition
list=("shreya ")*6
list

'shreya shreya shreya shreya shreya shreya '

In [ ]:
numbers=[10,20,30,40,50]
print("elements from index 1 to 3:",numbers[1:4])
print("first three elements:",numbers[:3])
print("elements from index 2 onwards:",numbers[-3:])
print("all elements:",numbers)

elements from index 1 to 3: [20, 30, 40]
first three elements: [10, 20, 30]
elements from index 2 onwards: [30, 40, 50]
all elements: [10, 20, 30, 40, 50]

In [ ]:
''' Marks '''
marks=[78,85,90,66,88]
print("maximum marks:",max(marks))
print("minimum marks:",min(marks))
print("total marks:",sum(marks))
print("number of students:",len(marks))
print("average marks:",sum(marks)/len(marks))
print("sorted marks:",marks.sort())
print(marks)

maximum marks: 90
minimum marks: 66
total marks: 407
number of students: 5
average marks: 81.4
sorted marks: None
[66, 78, 85, 88, 90]

In [ ]:
''' 2. Grocery Shopping List '''
list=["chocolates","butter","coke","ice cream"]
print("original list:",list)
list.append("apples")
print("list after adding:",list)
list.remove("butter")
print("list after removing:",list)

original list: ['chocolates', 'butter', 'coke', 'ice cream']
list after adding: ['chocolates', 'butter', 'coke', 'ice cream', 'apples']
list after removing: ['chocolates', 'coke', 'ice cream', 'apples']

In [ ]:
''' 3. A person stores phone contacts in a list '''
contacts= ["rudra","shreya","riddhi","leon"]
print("original list: ",contacts)
contacts.append("vaish")
print ("list after adding contact: ",contacts)
contacts.remove("shreya")
print("list after removing contact: ",contacts)
print("contacts sorted alphabetically: ",contacts.sort())
print(contacts)

original list:  ['rudra', 'shreya', 'riddhi', 'leon']
list after adding contact:  ['rudra', 'shreya', 'riddhi', 'leon', 'vaish']
list after removing contact:  ['rudra', 'riddhi', 'leon', 'vaish']
contacts sorted alphabetically:  None
['leon', 'riddhi', 'rudra', 'vaish']

In [ ]:
list1=[20,30,50,60,40,10,70]
print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-1])
print(list1[6:4:-2])
print(list1[-2:-4:-2])

[30, 50]
[30, 50]
[30, 60]
[30]
[70, 10]
[70]
[10]

In [ ]:
'''Temperature Analysis'''
temp=[28,20,28,20,25,25,19,17,20]
print("temp for first 5 days: ")
print(temp[0:5])
print("temp for last 5 days: ")
print(temp[-5:])
print("highest temperature: ",max(temp))
print("lowerst temperature: ", min(temp))
print("average temperature: ", sum(temp)/len(temp))

temp for first 5 days:
[28, 20, 28, 20, 25]
temp for last 5 days:
[25, 25, 19, 17, 20]
highest temperature:  28
lowerst temperature:  17
average temperature:  22.444444444444443

In [ ]:
''' Daily Expense Tracker'''
expense=[100,200,150,300,250,170,160]
print("total expenses: ",sum(expense))
print("average expenses: ",sum(expense)/len(expense))
print("highest spending day: ",max(expense))
print("lowest spending day: ", min(expense))

total expenses:  1330
average expenses:  190.0
highest spending day:  300
lowest spending day:  100