# Experiment 4
### Name- Shreya
### PRN- 25070123159
### Batch- A3
### Title- Study of Tuple in Python

In [ ]:
## python tuples
# create tuple and access tuple items
tuple1=("apple","banana","cherry")
print(tuple1[2])

cherry

In [ ]:
# this won't work
tuple=("apple","banana","cherry")
tuple[1] = "blackcurrant"
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# this won't work
tuple=("apple","banana","cherry")
tuple.append("mango")
print(tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print("t1: ",t1)
print("t2: ",t2)
print("t3: ",t3)

t1:  (1, 2, 3)
t2:  (4, 5, 6)
t3:  (1, 2, 3, 4, 5, 6)

In [ ]:
numbers=(3,7,1,9,4)
print(numbers[1::2])

(7, 9)

In [ ]:
'''Marks'''
marks_tuple=(78,85,90,66,88)
print("maximum marks:",max(marks_tuple))
print("minimum marks:",min(marks_tuple))
print("total marks:",sum(marks_tuple))
print("number of students:",len(marks_tuple))
print("average marks:",sum(marks_tuple)/len(marks_tuple))

maximum marks: 90
minimum marks: 66
total marks: 407
number of students: 5
average marks: 81.4

In [ ]:
list1=(20,30,50,60,40,10,70)
print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-1])
print(list1[6:4:-2])
print(list1[-2:-4:-2])

(30, 50)
(30, 50)
(30, 60)
(30,)
(70, 10)
(70,)
(10,)

In [ ]:
'''Temperature Analysis'''
temp=(28,20,28,20,25,25,19,17,20)
print("temp for first 5 days: ")
print(temp[0:5])
print("temp for last 5 days: ")
print(temp[-5:])
print("highest temperature: ",max(temp))
print("lowerst temperature: ", min(temp))
print("average temperature: ", sum(temp)/len(temp))

temp for first 5 days:
(28, 20, 28, 20, 25)
temp for last 5 days:
(25, 25, 19, 17, 20)
highest temperature:  28
lowerst temperature:  17
average temperature:  22.444444444444443

In [ ]:
''' Daily Expense Tracker'''
expense=(100,200,150,300,250,170,160)
print("total expenses: ",sum(expense))
print("average expenses: ",sum(expense)/len(expense))
print("highest spending day: ",max(expense))
print("lowest spending day: ", min(expense))

total expenses:  1330
average expenses:  190.0
highest spending day:  300
lowest spending day:  100

In [ ]:
''' Problem 1: result analysis '''
result =("EDA",80,"B")
subject,marks,grade = result
print("subject: ",subject)
print("marks: ",marks)
print("grade: ",grade)
if marks >= 75:
  print("Distinction")

subject:  EDA
marks:  80
grade:  B
Distinction

In [ ]:
''' Problem 2: attendance monitoring '''
attendance=("P","A","P","P","A","A","P")
print("total days present: ",attendance.count("P"))
print("total days absent: ",attendance.count("A"))
if attendance.count("A") > 0:
  print("employee was absent at least once")

total days present:  4
total days absent:  3
employee was absent at least once